<% provide(:title, 'アルバム') %>
<div class="center hero-unit">
<h1>卒業アルバム</h1>
<div id="albumList">
  <article>
    <h2>表紙</h2>
    <section>
      <p><%= image_tag '001.png' %></p>
      <%= link_to "拡大", "/find?fstr=001" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>校舎</h2>
    <section>
      <p><%= image_tag '002.png' %></p>
      <%= link_to "拡大", "/find?fstr=002" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>教職員集合写真</h2>
    <section>
      <p><%= image_tag '004.png' %></p>
      <%= link_to "拡大", "/find?fstr=004" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>学年担任</h2>
    <section>
      <p><%= image_tag '3t.png' %></p>
      <%= link_to "名簿", "/find?fstr=3t" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>１組集合写真</h2>
    <section>
      <p><%= image_tag '31.png' %></p>
      <%= link_to "名簿", "/find?fstr=31" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>２組集合写真</h2>
    <section>
      <p><%= image_tag '32.png' %></p>
      <%= link_to "名簿", "/find?fstr=32", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>３組集合写真</h2>
    <section>
      <p><%= image_tag '33.png' %></p>
      <%= link_to "名簿", "/find?fstr=33", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>４組集合写真</h2>
    <section>
      <p><%= image_tag '34.png' %></p>
      <%= link_to "名簿", "/find?fstr=34", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>５組集合写真</h2>
    <section>
      <p><%= image_tag '35.png' %></p>
      <%= link_to "名簿", "/find?fstr=35", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>６組集合写真</h2>
    <section>
      <p><%= image_tag '36.png' %></p>
      <%= link_to "名簿", "/find?fstr=36", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>おもいで</h2>
    <section>
      <p><%= image_tag '011.png' %></p>
      <%= link_to "拡大", "/find?fstr=011" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>修学旅行</h2>
    <section>
      <p><%= image_tag '012.png' %></p>
      <%= link_to "拡大", "/find?fstr=012" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>四中祭</h2>
    <section>
      <p><%= image_tag '013.png' %></p>
      <%= link_to "拡大", "/find?fstr=013" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>体育祭</h2>
    <section>
      <p><%= image_tag '014.png' %></p>
      <%= link_to "拡大", "/find?fstr=014" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>体育クラブ</h2>
    <section>
      <p><%= image_tag '015.png' %></p>
      <%= link_to "拡大", "/find?fstr=015" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>文化クラブ</h2>
    <section>
      <p><%= image_tag '016.png' %></p>
      <%= link_to "拡大", "/find?fstr=016" , class: "btn btn-default btn-primary" %>
    </section>
  </article>
</div>
</div>

