<% provide(:title, 'Album') %>
<div class="center hero-unit">
<div id="albumList">

  <article>
    <section>
      <p><%= image_tag '001.png' %></p>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '002.png' %></p>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '003.png' %></p>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '004.png' %></p>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '005.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=31" , class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '006.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=32", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '007.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=33", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '008.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=34", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '009.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=35", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <section>
      <p><%= image_tag '010.png' %></p>
      <%= link_to "名簿はこちら", "/find?fstr=36", class: "btn btn-default btn-primary" %>
    </section>
  </article>

  <article>
    <h2>おもいで</h2>
    <section>
      <p><%= image_tag '011.png' %></p>
    </section>
  </article>

  <article>
    <h2>修学旅行</h2>
    <section>
      <p>
        <%= image_tag '012.png' %>
      </p>
    </section>
  </article>

  <article>
    <h2>四中祭</h2>
    <section>
      <p>
        <%= image_tag '013.png' %>
      </p>
    </section>
  </article>

  <article>
    <h2>体育祭</h2>
    <section>
      <p>
        <%= image_tag '014.png' %>
      </p>
    </section>
  </article>

  <article>
    <h2>体育クラブ</h2>
    <section>
      <p>
        <%= image_tag '015.png' %>
      </p>
    </section>
  </article>

  <article>
    <h2>文化クラブ</h2>
    <section>
      <p>
        <%= image_tag '016.png' %>
      </p>
    </section>
  </article>
</div>
</div>
