<article id="contents">

<% if signed_in? %>

<% if current_user.group_id == 0 %>
<header class="head">
<h1>NEWS913</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<p>NEWS913ページにようこそ！<p>


<% elsif current_user.group_id == 1 %>
<header class="head">
<h1>荏原四中Ｓ４４年度卒同期会</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<p>荏原四中昭和４４年度卒同期会ページにようこそ！<p>

<% elsif current_user.group_id == 2 then %>
<header class="head">
<h1>都立高専１０期会</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<p>都立高専１０期会ページにようこそ！<p>
  
<% elsif current_user.group_id == 3 then %>
<header class="head">
<h1>パイオニア大森工場ＯＢ会</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<p>パイオニア大森工場ＯＢ会ページにようこそ！<p>
  
<% elsif current_user.group_id == 4 then %>
<header class="head">
<h1>亀山家族会</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧へ", articles_path, class: "bluebtn" %></p>
</header>
<p>亀山家族会ページにようこそ！<p>

<% end %>
<strong>使用方法・名簿</strong>などは<%= link_to "こちらのページへ",   help_path %>
<header class="head">
<h1>一言写真</h1>
</header>
<div id="postArea">
<%= will_paginate @microposts %>
  <%= render @microposts %>
<%= will_paginate @microposts %>
<% if current_user.family != "GUEST" %>
  <%= render 'shared/micropost_form' %>
<% end %>
</div>

<% else %>
<header class="head">
<h1>ホーム</h1>
</header>
<p>「お知らせ・写真」のサイトです。</p>
<p class="warning">ご利用するにはサインインが必要です。</p>
<p class="center">
<%= link_to "サインインしてください!", signin_path, class: "btn btn-normal btn-primary" %>
</p>
<% end %>
</article>

<script><!--
$("p.warning").css( "color", "red" );
//--></script>
