<% provide(:title, "サインイン") %>
<article id="contents">
  <header class="head">
    <h1>サインイン</h1>
  </header>

  <section class="form">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <dl class="formList">
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>

      <dt><%= f.label :password %></dt>
      <dd><%= f.password_field :password %></dd>
    </dl>
    <p><%= f.submit "サインイン", class: "commonSubmit" %></p>
  <% end %>
  </section>
</article>
