<% provide(:title, 'お知らせ登録') %>
<article id="contents">
<header class="head">
<h1>お知らせ登録</h1>
</header>
<div class="main">

<section class="form">
  <%= form_for(@article) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <dl class="formList">
      <dt><%= f.label :title, "題名" %></dt>
      <dd><%= f.text_field :title %></dd>

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :group_id, :value => current_user.group_id %>

      <dt><%= f.label :content, "内容" %></dt>
      <dd><%= f.text_area :content, rows: 6 %><dd>
     </dl>
     <p><%= f.submit "お知らせ登録", class: "commonSubmit" %></p>
  <% end %>
</section>

</div>
</article>

