<% provide(:title, @article.title) %>
<article id="contents">
<header class="head">
<h1><%= @article.title %></h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>
<div id="articleArea">
<%= markdown(@article.content) %>
<%= will_paginate @images %>
  <% if @article.images.count > 0 %>
  <div id="pictureList">
    <% @images.each do |pic| %>
      <% if pic.name != nil %>
      <article>
        <section>
          <%= pic.name %> | <%= pic.user.name %> 
          <% if (current_user.admin? || current_user.id == pic.user_id) %>
             | <%= link_to "削除", pic, method: :delete,
                                 data: { confirm: "本当に削除しますか?" } %>

          <% end %>
          | <%= link_to "拡大", image_path(pic) %>
          <p><img src="<%= image_download_path(pic) %>"/></p>
        </section>
      </article>
      <% end %>
    <% end %>
  </div>
  <% end %>
<%= will_paginate  @images %>
<% if current_user.family != "GUEST" %>
  <section class="form">
  <%= form_for(@image,
                html: {multipart: true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <dl class="formList">
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <dd><%= f.file_field :uploaded_image %></dd>
    </dl>
    <p><%= f.submit "写真追加", class: "btn btn-normal btn-primary" %></p>
  <% end %>
  </section>
<% end %>
</div>
</article>
