<tr>
  <td>
    <% if current_user.admin? %>
      <%= link_to user.family, user %>&nbsp;<%= user.given %>
    <% else %>
      <%= user.family %>&nbsp;<%= user.given %>
    <% end %>
  </td>
  <td>
    <%= user.maiden %>
  </td>
  <td>
    <%= user.notes %>
  </td>
  <td>
    <% if user.region != nil && user.region != "" %>
      あり
    <% end %>
  </td>
  <td>
    <% if user.tel != nil && user.tel != "" %>
      あり
    <% end %>
  </td>
  <td>
    <% if user.mobile != nil && user.mobile != "" %>
      あり
    <% end %>
  </td>
  <td>
    <% if user.email != nil && user.email != "" %>
      あり
    <% end %>
  </td>
</tr>
