<tr>
  <td>
    <% if user.notes == "非公開" %>
      <%= user.family %>&nbsp;<%= user.given %>
    <% else %>
      <%= link_to user.family, user %>&nbsp;<%= user.given %>
    <% end %>
    <% if user.maiden.present? %>
      &nbsp;（<%= user.maiden %>）
    <% end %>
  </td>
  <td>
    <%= user.notes %>
  </td>
  <td>
    <%= user.region %>
  </td>
</tr>
