<tr>
  <td>
    <%= link_to user.family, user %>&nbsp;<%= user.given %>
    <% if user.maiden.present? %>
      &nbsp;（<%= user.maiden %>）
    <% end %>
  </td>
  <td>
    <%= user.notes %>
  </td>
  <td>
    <%= user.region %>
  </td>
</tr>
