<% provide(:title, "編集") %>
<article id="contents">
<header class="head">
<h1><%= @user.name %> 編集</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>

<section class="form">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <dl class="formList">
    <dt><%= f.label :name, "登録名" %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :family, "姓" %></dt>
    <dd><%= f.text_field :family %></dd>

    <dt><%= f.label :given, "名" %></dt>
    <dd><%= f.text_field :given %></dd>

    <dt><%= f.label :maiden, "新姓" %></dt>
    <dd><%= f.text_field :maiden %></dd>

    <dt><%= f.label :pobox, "郵便番号" %></dt>
    <dd><%= f.text_field :pobox %></dd>

    <dt><%= f.label :region, "都道府県" %></dt>
    <dd><%= f.text_field :region %></dd>

    <dt><%= f.label :city, "市区" %></dt>
    <dd><%= f.text_field :city %></dd>

    <dt><%= f.label :street, "町村番地・ビル" %></dt>
    <dd><%= f.text_field :street %></dd>

    <dt><%= f.label :tel, "電話番号" %></dt>
    <dd><%= f.text_field :tel %></dd>

    <dt><%= f.label :mobile, "携帯番号" %></dt>
    <dd><%= f.text_field :mobile %></dd>

    <dt><%= f.label :notes, "備考" %></dt>
    <dd><%= f.text_field :notes %></dd>

    <dt><%= f.label :email, "メールアドレス" %></dt>
    <dd><%= f.text_field :email %></dd>
     
    <dt><%= f.label :password, "パスワード" %>※4文字以上</dt>
    <dd><%= f.password_field :password %></dd>

    <dt><%= f.label :password_confirmation, "確認パスワード" %></dt>
    <dd><%= f.password_field :password_confirmation %></dd>
  </dl>
  <%= f.submit "編集保存", class: "btn btn-normal btn-primary" %>
  <% end %>
</section>
</article>
