<% provide(:title, '名簿') %>
<article id="contents">
<header class="head">
<h1>名簿</h1>
<p class="rightbtn"><%= link_to "お知らせ一覧", articles_path, class: "bluebtn" %></p>
</header>

<%= will_paginate %>
<table class="thx4Table">
<tr>
  <th class="x2">名前</th>
  <th class="x1">新姓</th>
  <th class="x1">備考</th>
  <th class="x1">住所</th>
  <th class="x1">電話</th>
  <th class="x1">携帯</th>
  <th class="x1">mail</th>
</tr>
<%= render @users %>
</table>
<%= will_paginate %>

<%= link_to 'エキスポート', users_path(format: :csv) %>
<!-- ページの一番下に追加 -->
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
</article>
