<% provide(:title, '全名簿') %>
<article id="contents">
<header class="head">
<h1>全名簿</h1>
</header>
<div class="main">

<%= will_paginate @users, previous_label: "前ページ", next_label: "次ページ" %>
<table class="thx4Table">
<tr>
  <th class="x2">名前</th>
  <th class="x1">新姓</th>
  <th class="x1">備考</th>
  <th class="x1">住所</th>
  <th class="x1">電話</th>
  <th class="x1">携帯</th>
  <th class="x1">mail</th>
</tr>
<%= render @users %>
</table>
<%= will_paginate @users, previous_label: "前ページ", next_label: "次ページ" %>

<%= link_to 'エキスポート', users_path(format: :csv) %>
<!-- ページの一番下に追加 -->
<%= form_tag import_users_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>

</div>
</article>
