<% provide(:title, 'New user') %>
<h1>New user</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :family %>
      <%= f.text_field :family %>

      <%= f.label :given %>
      <%= f.text_field :given %>

      <%= f.label :maiden %>
      <%= f.text_field :maiden %>

      <%= f.label :pobox %>
      <%= f.text_field :pobox %>

      <%= f.label :region %>
      <%= f.text_field :region %>

      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :street %>
      <%= f.text_field :street %>

      <%= f.label :tel %>
      <%= f.text_field :tel %>

      <%= f.label :mobile %>
      <%= f.text_field :mobile %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :admin %>
      <%= f.check_box :admin ,{:checked => false}, true, false %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create new user", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
