<% provide(:title, '名簿追加') %>
<h2>名簿追加</h2>

<div class="row-fluid">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name, "登録名" %>
      <%= f.text_field :name %>

      <%= f.label :family, "姓" %>
      <%= f.text_field :family %>

      <%= f.label :given, "名" %>
      <%= f.text_field :given %>

      <%= f.label :maiden, "新姓" %>
      <%= f.text_field :maiden %>

      <%= f.label :pobox, "郵便番号" %>
      <%= f.text_field :pobox %>

      <%= f.label :region, "都道府県" %>
      <%= f.text_field :region %>

      <%= f.label :city, "市区" %>
      <%= f.text_field :city %>

      <%= f.label :street, "町村番地・ビル" %>
      <%= f.text_field :street %>

      <%= f.label :tel, "電話番号" %>
      <%= f.text_field :tel %>

      <%= f.label :mobile, "携帯番号" %>
      <%= f.text_field :mobile %>

      <%= f.label :notes, "備考" %>
      <%= f.text_field :notes %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>

<!--
      <%= f.label :admin, "管理権限" %>
      <%= f.check_box :admin ,{:checked => false}, true, false %>
-->
      
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "確認パスワード" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "名簿追加", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
