<% provide(:title, 'プロフィール') %>
<article id="contents">
<header class="head">
<h1><%= @user.name %></h1>
</header>
<div class="main">

<% if @user.group_id == 1 %>
  <p>荏原第四中学校S44年卒同期会にようこそ</p>
<% elsif @user.group_id == 2 then %>
  <p>東京都立工業高等専門学校10期会にようこそ</p>
<% elsif @user.group_id == 3 then %>
  <p>パイオニア大森工場ＯＢ会にようこそ</p>
<% elsif @user.group_id == 4 then %>
  <p>亀山家族会にようこそ</p>
<% else %>
  <h3>ようこそ</h3>
<% end %>
<% if (@user.family != "GUEST" || current_user.admin?) %>
  <table class="commonTable">
   <tr>
      <th>名前</th>
      <td>
        <%= @user.family %>&nbsp;<%= @user.given %>
        <% if @user.maiden.present? %>
          &nbsp;（<%= @user.maiden %>）
        <% end %>
      </td>
    </tr>
    <tr>
      <th>備考</th>
      <td>
        <%= @user.notes %>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>
        <%= @user.pobox %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <%= @user.region %><%= @user.city %><%= @user.street %>
      </td>
    </tr>
    <tr>
      <th>電話</th>
      <td><%= @user.tel %></td>
    </tr>
    <tr>
      <th>携帯</th>
      <td><%= @user.mobile %></td>
    </tr>
    <tr>
      <th>メール</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <br>
  <% if signed_in? && (current_user?(@user) || current_user.admin?) %>
    <p>
      <%= link_to "編集", edit_user_path(@user), class: "bluebtn" %>
    </p>
  <% end %>
<% end %>

</div>
</article>
