<% provide(:title, @user.name) %>
<div class="row-fluid">
  <h2>
    <%= @user.name %>
  </h2>
  <table class="commonTable">
   <tr>
      <th>名前</th>
      <td>
        <%= @user.family %>&nbsp;<%= @user.given %>
        <% if @user.maiden.present? %>
          &nbsp;（<%= @user.maiden %>）
        <% end %>
      </td>
    </tr>
    <tr>
      <th>備考</th>
      <td>
        <%= @user.notes %>
      </td>
    </tr>
    <tr>
      <th>郵便番号</th>
      <td>
        <%= @user.pobox %>
      </td>
    </tr>
    <tr>
      <th>住所</th>
      <td>
        <%= @user.region %><%= @user.city %><%= @user.street %>
      </td>
    </tr>
    <tr>
      <th>電話</th>
      <td><%= @user.tel %></td>
    </tr>
    <tr>
      <th>携帯</th>
      <td><%= @user.mobile %></td>
    </tr>
    <tr>
      <th>メール</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <br>
  <% if signed_in? && (current_user?(@user) || current_user.admin?) %>
    <p class="center">
      <%= link_to "編集", edit_user_path(@user), class: "btn btn-small btn-primary" %>
    </p>
  <% end %>
</div>
