<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <span>
        <% if @user.maiden %>
          <%= @user.maiden %>&nbsp;<%= @user.given %>（<%= @user.family %>）
        <% else %>
          <%= @user.family %>&nbsp;<%= @user.given %>
        <% end %>
      </span>
    </section>
  </aside>
  <div class="span8">
    <dl>
    <dt>住所</dt>
      <dd><%= @user.pobox %></dd>
      <dd><%= @user.region %><%= @user.city %><%= @user.street %></dd>
    <dt>電話</dt>
      <dd><%= @user.tel %></dd>
    <% if @user.mobile %>
      <dt>携帯</dt>
        <dd><%= @user.mobile %></dd>
    <% end %>
    <dt>メール</dt>
      <dd><%= @user.email %></dd>
    <dt>メモ</dt>
      <dd><%= @user.notes %></dd>
    </dl>
  </div>
</div>

