<% provide(:title, 'マイ写真') %>
<article id="contents">
<header class="head">
<h1>マイ写真</h1>
</header>
<div class="main">
<div id="articleArea">
<%= will_paginate @images, previous_label: "前ページ", next_label: "次ページ" %>
<div id="pictureList">
    <% @images.each do |pic| %>
      <% if pic.name != nil %>
      <article>
        <section>
          <%= pic.name %> 
          <% if (current_user.admin? || current_user.id == pic.user_id)  %>
             | <%= link_to "削除", pic, method: :delete,
                                 data: { confirm: "本当に削除しますか?" } %>
          <% end %>
          <p><a href="<%= image_path(pic) %>"><img src="<%= image_download_path(pic) %>"></a></p>
        </section>
      </article>
      <% end %>
    <% end %>
</div>
<%= will_paginate @images, previous_label: "前ページ", next_label: "次ページ" %>
</div>
</div>
</article>
