<footer id="foot">
<!--
  <nav>
    <ul>
      <li><%= link_to "ヘルプ",      help_path %></li>
      <li><%= link_to "サイト概要",   about_path %></li>
    </ul>
  </nav>
-->
  <section>
    <%= image_tag 'kame.gif' %>
    <ul>
      <li><%= link_to "ヘルプ",   help_path %></li>
      <li><%= link_to "サイト",   about_path %></li>
    </ul>
    <p>&copy; Akira Kameyama</p>
  </section>
</footer>
